.sideBar{
    font-weight: 500;
    height: 100%;
}
.sideBar .brand{
    width: 50%;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    gap:1rem
}
.sideBar .menuItem{
    width: 90%;
    margin: 1rem auto;
}
.sideBar .menuItem div:first-child{
    padding: 1rem;
    border-radius: 1rem;
}
.sideBar .menuItem.active div:first-child{
    background-color: #526cff;
    color: #ffffff;
}
.sideBar .menuItem>div{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.sideBar .menuItem div>div{
    justify-content: space-between;
}
.sideBar .projectList{
    padding-left: 1rem;
}
.sideBar .projectList li{
    padding: .5rem 0;
}