@import url('../../../theme.css');
.login{
    place-items: center;
}

.login-box{
    padding: 2rem;
    text-align: center;
    border-radius: 0.5rem;
    width: 30%;
    text-align: start;
}
.login-box-row-1 span{
    font-weight: 600;
    font-size: 32px;
}
.login-box-row-1 p{
    font-size: unset;
    font-weight: unset;
}

.login-box-row-2 {
    margin-top: 2rem;
    display: flex; 
    flex-direction: column; 
    gap: 1rem; 
}
.login-box-row-2 .login-email-input{
    background-color: #ffff;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    border: 2px solid var(--border);
}
.login-box-row-2 .login-email-input input{
    border: none;
    outline: none;
    width: 100%;
}
.login-box-row-2 .login-password-input{
    background-color: #ffff;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    border: 2px solid var(--border);
}
.login-box-row-2 .login-password-input input{
    border: none;
    outline: none;
    width: 100%;
}
.login-box-row-2 .login-button{
    background-color: var(--button-bg);
    border-radius: 0.5rem;
    padding: 1rem;
    text-align: center;
}
.login-box-row-2 .login-button button{
    border: none;
    outline: none;
    background: none;
    color: #ffff;
    font-weight: 600;
    font-size: 18px;
}
.third-party-login{
    margin: 1.5rem 0;
    display: flex;
    gap: 1rem;
    align-items: center;
}
.third-party-login img{
    height: 28px;
    width: 28px;
}
.sign-up-link{
    display: flex;
    gap: 1rem;
}
.sign-up-link a{
    text-decoration: none;
    color: var(--button-bg);
    font-weight: 500;
}