@import url('../../../../theme.css');
#task{
    background-color: var(--task-bg);
    margin: 1rem 1rem 0.5rem 1rem;
    padding: 1rem .5rem;
    border-radius: 1rem;
    max-height: 320px;
}
.task-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.task-header div{
    display: flex;
    font-weight: 500;
    padding: .5rem;
    border-radius: 1rem;
    border: 2px solid #ebebf3;
}
.task-list{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: stretch;
    gap: .5rem
}
.task-item{
    display: grid;
    max-height: 130px;
    grid-template-rows: 1fr 1fr 1.5fr 1fr;
    text-align: start;
    padding: .5rem .5rem;
    border-radius: 1rem;
    background-color: var(--task-item-bg);
    cursor: pointer;
}
.task-item p{
    font-size: 12px;
    font-weight: 500;
}
.task-progress{
    background-color: #fff;
    width: 70%;
    height: 16px;
    border-radius: 1rem;
}
.task-progress div{
    background-color: #1ca869;
    width: 65%;
    height: 16px;
    border-radius: 1rem;
}
.task-footer{
    background-color: var(--task-footer-bg);
    color: var(--task-footer);
    width: 97%;
    margin: 2rem auto 0 auto;
    padding: 8px;
    border-radius: 1rem;
}
.due{
    display: flex;
    gap: 4px;
    align-items: center;
    background-color: var(--task-bg);
    padding: 4px 8px;
    border-radius: 1rem;
}
@media screen and (max-width: 1279px) {
    #task{
        min-height: 300px;
    }
    
}