@import url('../../../../theme.css');
#task{
    background-color: var(--task-bg);
    margin: 0.5rem;
    padding: 1rem .5rem;
    border-radius: 1rem;
    height: 250px;
}
.task-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.task-header div{
    display: flex;
    font-weight: 500;
    padding: .5rem;
    border-radius: 1rem;
    border: 2px solid #ebebf3;
}
.task-list{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: stretch;
    gap: .5rem
}
.task-item{
    display: flex;
    flex-direction: column;
    gap:.5rem;
    text-align: start;
    padding: .5rem;
    border-radius: 1rem;
    background-color: var(--task-item-bg);
}
.task-item p{
    font-size: 12px;
}
.task-progress{
    background-color: #fff;
    width: 70%;
    height: 16px;
    border-radius: 1rem;
}
.task-progress div{
    background-color: #1ca869;
    width: 65%;
    height: 16px;
    border-radius: 1rem;
}
.task-footer{
    background-color: var(--task-footer-bg);
    color: var(--task-footer);
    width: 97%;
    margin: 1rem auto 0 auto;
    padding: 8px;
    border-radius: 1rem;
}
