@import url('../../../../theme.css');
#distribution{
    background-color: var(--task-bg);
    border-radius: 1rem;
    margin: 1rem 1rem 0.5rem .5rem;
    padding: 1rem .5rem;
    height: 320px;
    min-height: 190px;
    overflow: hidden;
}
.recharts-wrapper{
  max-height: 270px !important;
}
#distribution svg:focus,
#distribution path:focus,
#distribution g:focus {
  outline: none;
}
@media screen and (max-width: 1200px) {
    #distribution{
      margin: 1rem 1rem 0.5rem .5rem;
      min-height: 300px;
    }
    
}
@media screen and (max-width: 779px) {
    #distribution{
        margin: 1rem 1rem .5rem 1rem;
    }
    
}