@import url('../../../../theme.css');
.kanban{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    padding: 1rem;
    border-top: 1px solid var(--border);
    width: 95%;
    overflow-y: auto;
}
.kanbanColumn{
    min-height: 400px;
}
.kanbanHeader{
    border-radius: .5rem;
    border: 1px solid var(--border);
    padding: .5rem 1rem;
    text-align: start;
    font-weight: 600;
    margin-bottom: .5rem;
    background-color: var(--kanban-bg);
}
.kanbanItemList{
    background-color: var(--kanban-column);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap:1rem;
    border-radius: .5rem;
}
.kanbanItem{
    border-radius: .5rem;
    border: 1px solid var(--border) ;
    text-align: start;
    padding: .5rem;
    background-color: var(--kanban-bg);
    cursor: pointer;
}
.priority{
    padding: 0 1rem;
    display: inline-block;
    border-radius: 1rem;
    font-weight: 600;
    color: #df573f ;
    font-size: 14px;
}
.kanbanItem p{
    font-weight: 600;
    font-size: 15px;
}
.kanbanItem span{
    font-size: 12px;
    font-weight: 400;
}
.kanbanItem .member{
    padding-top: .5rem;
    justify-content: right;
}
.kanbanItem .member div{
    border-radius: 10rem;
    overflow: hidden;
    width: 24px;
    height: 24px;
}
.kanbanItem .member div img{
    height: 100%;
    width: 100%;
}
.taskDetail-active{
    position: absolute;
    z-index: 10;
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 20px;
    border-radius: 8px;
    width: 70%;
    height: 90%;
    overflow-y: scroll;
    max-width: 90%;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.taskDetail-active .status-priority input::placeholder{
    color: red;
}
.taskDetail-active .status-priority input{
    display: inline;
}
.taskDetail-active .title input{
    border: none;
    font-size: 1.75rem;
    font-weight: 700;
}
.taskDetail-active .title input:active{
    border: none;
    outline: none; 
}
.taskDetail-body h4{
    margin-bottom: 1rem;
}
.taskDetail-body .body-item{
    padding: 1rem;
}
.taskDetail-footer{
    display: flex;
    gap: 1rem;
    justify-content: end;
    margin-top: 2rem;
}
.taskDetail-footer >div{
    padding: .5rem 1rem;
    border-radius: .5rem;
    border: 1px solid var(--border);
    display: flex;
    gap: .5rem;
}
.taskDetail-footer p{
    font-weight: 500;
}
.taskDetail-footer .delete{
    background-color:#dc2626 ;
}
@media screen and (max-width:1200px) {
    .kanban{
        overflow-x: auto;
    }
    .kanbanColumn{
        min-width: 270px;
    }
}
@media screen and (max-width:800px) {
    .kanban-parent{
        height: calc(100vh - 160px - 69px) !important
    }
    .taskDetail-active{
        width: 90%;
    }
}