@import url('../../../theme.css');
.dashboard{
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 98%;
    border-radius: 1rem;
    background-color: var(--dashboard-bg);  
    margin: 1rem auto;
}
.dashboard #row1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 320px;
}
.dashboard #row2{
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    min-height: 300px;
    max-height: 380px;
}
@media screen and (max-width: 1200px) {
    .dashboard{
        display: flex;
        flex-direction: column;
    }
    .dashboard #row1{
        display: block;
    }
    .dashboard #row2{
        grid-template-columns: 1fr 1fr;

    }
    
}
@media screen and (max-width:779px) {
    .dashboard #row2{
        display: block;
        max-height: unset;
    }
    
}