/* Custom major label (e.g. March) */
#timeline{
  background-color: #fff;
  border-radius: 1rem;
  margin: 0.5rem;
  padding: 1rem .5rem;
  min-height: 190px;
  overflow: hidden;
  font-weight: 600;
}
.react-calendar-timeline .rct-header-root{
  background-color: #f0f0f0;
}
.rct-dateHeader {
  background-color: #f0f0f0 !important; /* màu mới */
}
.rct-item {
  border-radius: 20px !important;
  font-weight: bold;
  color: white;
  padding: 5px;
}
.react-calendar-timeline{
  border-radius: 1rem;
  overflow: hidden;
  background-color: #fff;
}
.react-calendar-timeline .rct-dateHeader{
  border: unset !important;
}
.react-calendar-timeline .rct-horizontal-lines .rct-hl-even{
  border: unset !important;
}
.rct-item[data-id="1"] {
  background-color: #ff5722 !important;
}
.rct-item[data-id="2"] {
  background-color: #009688 !important;
}
.rct-item[data-id="3"] {
  background-color: #7e57c2 !important;
}
.rct-item[data-id="4"] {
  background-color: #212121 !important;
}